body {
    background-image: url(./assets/bg6.jpg);
    background-size: cover;
    font-family: "Lucida Console";
    font-size: 16px;
}

.hw-header {
    background: rgba(0, 0, 0, .4);
    border-radius: 5px;
    padding: 20px 65px;
    color: #eff1f4;
    text-transform: uppercase;
}

.masthead {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: 1%;
    height: 300px;
    border-radius: 1%;
}

.hr-black {
    border-bottom: 2px solid black;
}

.page-content {
    background: #eee;
    border-radius: .5%;
    opacity: 0.75;
}

.center-pills li {
    display: inline-block;
    list-style: none;
    padding-right: 1%;
    padding-top: 1%
}

.center-pills span {
    color: grey;
}

.center-pills span:hover {
    color: black;
}

/*hover.css modified*/
.hvr-grow {
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    transform: scale(1.1);
}
